<%- include('../partials/header') %>

	<% errors.forEach((err)=> { %>
		<div class="alert alert-danger">
			<%= err.text %>
		</div>
		<% }); %>
			<h3>Editar Postagem: </h3>
			<div class="card">
				<div class="card-body">
					<form action="/admin/postagens/edit" method="post">
						<input type="hidden" name="id" value="<%=post._id%>">
						<label for="title">Titulo:</label>
						<input type="text" id="title" name="title" class="form-control" value="<%=post.title%>">
						<label for="slug">Slug: </label>
						<input type="text" id="slug" name="slug" class="form-control" value="<%=post.slug%>">
						<label for="description">Descrição: </label>
						<input type="text" id="description" name="description" class="form-control" value="<%=post.description%>">
						<label for="content">Conteudo: </label>
						<textarea name="content" id="content" cols="30" rows="10" class="form-control"><%=post.content%></textarea>
						<label for="category">Categoria: </label>
						<select name="category" id="category" class="form-control">
							<% categories.forEach((category)=> { %>
								<option value="<%=post.category._id%>">
									<%=category.name%>
								</option>
								<% }); %>
						</select>
						<br>
						<button class="btn btn-success" type="submit">Editar Post</button>
					</form>
				</div>
			</div>

			<%- include('../partials/footer') %>